* {
	margin: 1rem;
	padding: 0.5rem;
}
aside {
	font-style: italic;
}

/* block-level elements */
p,
div,
main,
footer {
	border: 1px solid rgba(0, 0, 0, 0.1);
}

p {
	background-color: #bed;
}

div {
	background-color: #eee;
}

/* inline elements */
img,
a,
span,
button {
	border: 1px dashed red;
}

strong {
	color: red;
}
